<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Dice-Roller</span>
        <p>
          Our example application is going to be a Dice Roller,
          including the ability to roll some dice and view a history
          of all dice rolls that have been performed to date. A fully
          working version of this application is available from Github.
        </p>
      </div>
    </div>
  </div>
</div>
